{{!-- {{#each this}}
  <li class='galery__element'>
    <div class='thumb'>
      <img
        class='gallery__element-image'
        src='{{webformatURL}}'
        alt='{{tags}}'
      /></div>

    <ul class='gallery__element-info'>
      <li>
        <h2>Likes</h2>
        <p>{{likes}}</p>
      </li>
      <li>
        <h2>Views</h2>
        <p>{{views}}</p>

      <li>
        <h2>Comments</h2>
        <p>{{comments}}</p>
      <li>
        <h2>Downloads</h2>
        <p>{{downloads}}</p>
    </ul>
  </li>
{{/each}} --}}

{{#each this}}
  <div class='photo-card'>
    <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' height='200' />
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        {{likes}}
      </p>
      <p class='info-item'>
        <b>Views</b>
        {{views}}
      </p>
      <p class='info-item'>
        <b>Comments</b>
        {{comments}}
      </p>
      <p class='info-item'>
        <b>Downloads</b>
        {{downloads}}
      </p>
    </div>
  </div>
{{/each}}